IDI_ICON1               ICON    DISCARDABLE     "icon_win.ico"

#include <windows.h>

# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,6,7,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904B0"
			BEGIN
				VALUE "CompanyName", "Gusak Leonid\0"
				VALUE "FileDescription", "Subway maps of the World!  \nWebsite: qmetro.sf.net\0"
				VALUE "FileVersion", "\0"
				VALUE "LegalCopyright", "Gusak Leonid\0"
				VALUE "OriginalFilename", "qmetro.exe\0"
				VALUE "ProductName", "qMetro\0"
		        VALUE "License", "GPL\0"
            END
        END

         BLOCK "VarFileInfo"
         BEGIN
             VALUE "Translation", 0x419, 1251
        END
    END
	